body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-family: Montserrat;
  margin: 0;
}
.containerFlex {
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  width: 800px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

.gridStyle {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid;
}

.buttonStyle {
  margin: 20px;
  padding: 10px 20px;
  width: 200px;
  border: none;
}
